@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    /* font-style: normal; */
}

ul,ol {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    width: 1600px;
    overflow: hidden;
    margin: 0 auto;

    text-align: center;
    /* 글자 중앙 */

    padding: 40px 0px;
}

.logo {
    font-size: 30px;
    line-height: 26px;
    font-weight: 900px;

    display: block;
    /* text-align: center; */
}

header ul {
    display: inline-block;
    overflow: hidden;
}

header li {
    float: left;
    margin: 20px;
    text-align: center;
}

header li img {
    margin: 0 auto;

}

header li a {
    font-weight: 800;
    display: block;
}

header li:hover a {
    border-bottom: 2px solid #f00;
}

section {
    width: 1600px;
    overflow: hidden;
    margin: 0 auto;
}

#mainBg>.left {
    width: 1074px;
    float:left;
}

#mainBg>.right {
    width: 316px;
    overflow: hidden;
    float: right;
}

#mainBg .tbox {
    width: 316px;
    height: 160px;
    border: 5px solid #000;
    text-align: center;
    padding: 15px 0px;
    box-sizing: border-box;
    margin-top: 10px;
    background-image: url(/box_bg.png);
}

#mainBg .tbox>p {
    font-size: 18px;
}

#mainBg .tbox>h1 {
    margin: 15px 0px;
}

#mainBg .tbox>.line {
    width: 40px;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
}

#section01 {
    margin-top: 30px;
}

#section01>.left {
    margin-top: 30px;
    
    width: 784px;
    overflow: hidden;
    float: left;
}

#section01>.right {
    margin-top: 30px;
    width: 785px;
    float: right;
}

#section01 .ibox {
    width: 784px;
    height: 481px;

    background-color: #000;
    margin-top: 30px;
    overflow: hidden;
}

/* #section02 {
    margin-top: 30px;
} */

.box_01 {
    margin-top: 30px;
}

footer {
    width: 1600px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
}

footer>.left {
    width: 700px;
    height: 500px;
    float: left;
    background-image: url(/banner_bg.jpg);
    background-size: 790px 500px;
}

footer>.right {
    width: 800px;
    float: right;
    overflow: hidden;
}

footer .ibox {
    width: 800px;
    height: 340px;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 10px;
}

form {
    width: 800px;
    height: 150px;
    background-color: lightgreen;
    text-align: center;
    overflow: hidden;

}

footer .center {
    display : inline-block;
    height: 40px;
    margin: 55px 0px;
}

footer lable {
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    display: block;
    float: left;
    margin-right: 15px;
}

footer input[type="email"] {
    width: 250px;
    height: 40px;
    display: block;
    float: left;
    padding-left: 20px;
    font-size: 18px;
    border:none;

}

footer button {
    display:block;
    float: left;
    border: none;
    padding: 0px 10px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: black;
}

.footerlogo {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    clear: both;
    padding: 30px 0px;
}