
* {padding: 0; margin: 0;}

li, ul li {list-style: none;}

a {
    text-decoration: none;
    font-size: 14px;
}

/* 세로메뉴 - 스타일 */
.menu {
    width: 300px;
    overflow: hidden;
    margin: 150px auto;
}

.menu>li {
    width: 100%;
    /* 20 * 5 = 100% */
    
    /* float: left; */
    text-align: center;
    line-height: 40px;

    background-color: lightskyblue;
}

.menu a {
    color: #fff;
}

.submenu>li {
    line-height: 50px;
    /* 행의 간격 */

    background-color: lightsteelblue;
}

.submenu {
    height: 0;
    /* 서브메뉴 임시적으로 가리기 */
    overflow: hidden;
}

.menu>li:hover .submenu{
    height: 250px;
    /* */

    transition-duration: 0.5s;
}

.menu>li:hover {
    background-color: lightsteelblue;
    transition-duration: 1;
}