* {
    margin: 0;
    padding: 0;
}

ul {list-style: none;}
a{text-decoration: none;}

nav {
    width: 100%;
    overflow: hidden;
    background-color: lightgreen;
}

nav>h1 {
    float: left;
    width: 20%;
    line-height: 100px;
    color: #fff;
    text-align: center;
}

nav>ul {
    float: right;
    width: 40%;
    line-height: 100%px;
    margin-right: 2%;
}

nav li {
    float: left;
    width: 20%;
    text-align: center;
}

nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

#main {
    width: 100%;
    min-height: 400px;
    /* 400 ~ */
    background-image: url(/cocoding/HTML/main.jpg) ;
    background-size: cover;

    background-repeat: no-repeat;
}

section {
    width: 63%;
    /* 1200px */
    overflow: hidden;
    margin: 80px auto;
}

article {
    width: 33.3%;
    float: left;
    line-height: 300px;
    background-color: coral;
    text-align: center;
}

article:nth-child(2n) {
    /* 2n : 짝수 2n + 1 홀수*/
    background-color: lightpink;
}

@media screen and (max-width: 1023px) {
    nav>h1 {
        display: none;
        /* display : inline block inline-block none */
    }

    nav>ul {
        float: none;
        margin: 0 auto;
        width: 63%;
    }

    #main {
        background-image: url(/cocoding/HTML/mainBg.jpg);
        min-height: 400px;
    }

    article {
        width : 50%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    /* 단위
    em - 특정한 폰트사이즈 기준의 배수 값(부모기준)
    rem - 특정한 폰트사이즈 기준의 배수 값(전체 최상단 html, body 기준)
     */

    * {
        font-size: 10px;
        /* 기본값 16px */
    }

    /* nav li {
        font-size: 15px;
    } */
    nav li a {
        font-size: 1.3rem;
        /* 10 * 1 = 10px */
    }

    #main {
        min-height: 250px;
    }

    article {
        width: 100%;
        font-size: 1.5rem;
    }
}
