* {
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    background: url(/bg.jpg) no-repeat; background-size: cover; color: #fff;
}

header {
    height: 10vh;
    width: 100%;
    position: absolute;
    line-height: 10vh;
    text-align: center;
    /* ul 중앙정렬 */

    /* background-color: lightgoldenrodyellow; */
}

header>a {
    position: absolute;
    left: 3%;
    font-weight: 900;
    font-size: 28px;
}

header ul {
    display: inline-block;
    /* ul의 폭이 명확하지 않기 때문에 */
}

header ul li {
    float: left;
    padding: 0 2vw;
}

section {
    display: table;
    /* 부모 테이블 성격 변환 */
    width: 100%;
    height: 100vh;
    /* display: table; */

    table-layout: fixed;
    /* 내용물 동일하게 분배 */
}

article {
    display: table-cell;
    /* td 성격 부여 */
    text-align: center;
    vertical-align: middle;
    padding: 0 3vw;
}

article:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

article i {
    font-size: 40px;
}

article h1 {
    font-size: 32px;
    margin: 1.5vh 0;
}

article button {
    width: 50%;
    padding: 1.5vh;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;

    background-color: transparent;
    margin: 1.5vh;
}

article:hover {
    background-color: rgba(0,0,0,0.5);
}

/* 낮은 해상도 pc / 태블릿 가로 사이즈 기준 */
@media screen and (max-width:1024px) {
    header ul {
        display: none;
        /* 제거 */
    }

    article {
        display: table; 
        /* td > table 부모로 변경 */
        height: 33.1vh;
    }

    article:nth-child(2) {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    article>div {
        display: table-cell;
        vertical-align: middle;
    }
}

