* {
    padding: 0;
    margin: 0;
}
body,html {
    height: 100%;
    font-size: 10px;
}

/* px */
.px {
    width: 1000px;
    background-color: lightgreen;
    height: 500px;
}

/* % */
.pce {
    width: 50%;
    height: 100%;
    /* % 높이는 부모의 상속을 받아 높이를 지정 */
    background-color: lightblue;

    float: left
}

.pce:nth-child(2) {
    background-color: lightskyblue;
}

@media screen and (max-width: 1024px) {
    .pce {
        width: 100%;
    }
}

/* vh, vw */
.vw {
    width: 50vw;
    height: 100vh;
    background-color: lightcoral;
}

@media screen and (max-width:767px) {
    /* px 달리 부모의 기준을 주지 않아도 적용된다. */
    .vw {
        width: 80vw;
        height: 50vh;
    }
}

/* em, rem : 기준이 없을 때 기본 16px */
/* 기본 글자 16px */

#all {
    font-size: 20px;
}
.em {
    font-size: 2em;
    /* 1 = 16 */
    /* 20 * 2 = 40 */
}
.rem {
    font-size: 2rem;
    /* 10 * 2 = 20 */
}